<h1>Friends list</h1>
<div class="add-friend">
  <input type="text" [(ngModel)]="newFriend" placeholder="Friend name" />
  <button (click)="addFriend()">Add friend</button>
</div>
<div class="favorite">
  <p>My favourite person is: {{ favorite }}</p>
  <button *ngIf="favorite" (click)="favorite = null">Remove favourite</button>
</div>
<div class="people">
  <app-people
    *ngFor="let person of people"
    [name]="person"
    (favourite)="favorite = person"
    (removeFavourite)="favorite = null"
  ></app-people>
</div>
